.app-container {
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .app-container {
    width: 60%;
  }
}

.search-results {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}

.search-results-info {
  margin: 10px 0;
}

.search-results__no-results {
  flex: 0 0 100%;
  align-self: center;
}

.search-result {
  margin-bottom: 10px;
  flex: 0 0 100%;
}

.search-result__title {
  margin-top: 0;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.search-result__footer {
  border-top: 1px solid rgb(128, 128, 128);
  padding-top: 10px;
  margin-top: 10px;
}

.search-result:last-child {
  margin-bottom: 0;
}

.pagination {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  flex-direction: row;
  padding: 40px 0;
}

.pagination__first {
  margin-right: 10px;
}

.pagination__previous {
  margin-right: 10px;
}

.pagination__page {
  margin-right: 10px;
}

.pagination__page:last-child {
  margin-right: 0;
}

.pagination__last {
  margin-left: 10px;
}

.search-bar__group {
  margin: 0 auto;
  width: 45%;
}

.loader,
.search-error {
  margin-top: 10vh;
}
